@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
  background-color: #eef4fb;
  font-family: "Satoshi-Light";
  src: url("/fonts/Satoshi-Light.woff2") format("woff2"),
    url("/fonts/Satoshi-Light.woff") format("woff"),
    url("/fonts/Satoshi-Light.ttf") format("truetype");
}
h1 {
  font-size: 4rem;
  font-weight: 700;
}
a {
  text-decoration: none;
}
.container {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
header {
  background: #2837a3;
  min-height: 193px;
}
header .container {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  padding-top: 20px;
}
.logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: larger;
  font-weight: 900;
  color: #fff;
  cursor: pointer;
}
nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
}
nav a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  transition: all 0.2s ease;
}

nav a:hover {
  text-decoration: underline;
  opacity: 0.8;
}

.breadcrumb {
  color: rgb(52, 51, 51);
  width: 100%;
  text-align: center;
  margin: 50px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 1px;
  font-weight: 600;
}
.breadcrumb a {
  color: rgb(22, 22, 22);
  opacity: 0.6;
}
.breadcrumb a:hover {
  opacity: 1;
  text-decoration: none;
}
.breadcrumb li {
  list-style: none;
}
.breadcrumb {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 1rem;
  list-style: none;
}

.breadcrumb-item {
  margin-right: 0.5rem;
}

.breadcrumb-item + .breadcrumb-item::before {
  content: ">>";
  margin-right: 0.5rem;
}

.breadcrumb-item:last-child {
  font-weight: bold;
}
.posts-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 10px;
  margin-top: 100px;
  margin-bottom: 100px;
}

.post-item-wrapper {
  width: 350px;
  border-radius: 10px;
}

.post-item-wrapper img {
  border-radius: 10px;
  width: 100%;
}
.post-item-wrapper .tag-name {
  text-transform: uppercase;
  letter-spacing: 0.04em;
  line-height: 11px;
  font-size: 11px;
  font-weight: 600;
  color: #267af8;
  font-weight: 600;
  margin: 20px 0px;
}
.post-item-wrapper h3 {
  text-transform: capitalize;
  font-family: "Satoshi";
  color: #002159;
  font-weight: 700;
  font-size: 21px;
  margin-bottom: 20px;
}
.post-item-wrapper p {
  font-size: medium;
  font-weight: 500;
  color: #8a909a;
  overflow: hidden;
  font-family: "Satoshi-Light";
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.post-item-wrapper .author {
  display: inline-block;
}

.post-item-wrapper .meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  line-height: 11px;
  font-size: 11px;
  font-weight: 600;
  color: #8a909a;
  margin-top: 30px;
}
.pagination-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: auto;
}
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.page-item {
  list-style: none;
}

.page-link {
  color: #007bff;
  text-decoration: none;
  padding: 5px 10px;
  border: 1px solid #dee2e6;
  margin: 0 2px;
  cursor: pointer;
}

.page-link:hover {
  background-color: #f8f9fa;
}

.page-item.active .page-link {
  background-color: #007bff;
  color: #fff;
  border-color: #007bff;
}

.page-item.disabled .page-link {
  pointer-events: none;
  cursor: default;
  color: #6c757d;
  background-color: #fff;
  border-color: #dee2e6;
}
.single-post-container {
  width: 90%;
  max-width: 800px;
  margin: auto;
}

.single-post-container h1 {
  font-family: "Satoshi";
  font-size: xx-large;
  font-weight: 900;
  text-transform: capitalize;
  margin: 50px 0px;
}
.single-post-container .meta {
  text-align: center;
  color: #666666;
}
.single-post-container .feature-img {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-top: 50px;
  margin-bottom: 30px;
}
.single-post-container .feature-img img {
  width: 100% !important;
  height: auto;
}
.single-post-container img {
  width: 100%;
  height: auto;
}
.single-post-container p {
  margin: 10px 0px;
  font-family: "Satoshi";
}
.single-post-container ul {
  margin-left: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.single-post-container h2,
.single-post-container h3 {
  margin: 20px 0px;
  font-family: "Satoshi";
}
.tags-container {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 50px;
}

.tags-container a {
  font-size: 10px !important;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 10px 15px;
  border: 1px solid #e6e9ec;
  margin: 5px;
  line-height: 1.5;
  color: #002159;
  border-radius: 50px;
}
.tags-container a:hover {
  border: 1px solid rgb(8, 8, 8);
}

footer {
  width: 100%;
  height: 200px;
  background-color: #c7c7c7;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

@media only screen and (max-width: 800px) {
  header .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }
  .logo {
    justify-content: end;
  }
  .posts-container {
    justify-content: center;
  }
}
